.floor-btns-container
{
    height: 15%;
    width: 90%;
}

.room-btns-container
{
    overflow: scroll;
    flex-wrap: wrap;
    height: 85%;
    width: 100%;
}

.flr-btn-area-select
{
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.btn-area-select
{
    height: 100px;
    margin: 0px 10px;
    width: 300px;
}

#rightArrowRoomSelect, #leftArrowRoomSelect
{
    display: inline-block;
    width: 100px;
    height: 40px;
}
#arrow-place-holder
{
    width: 60px;
    display: inline-block;
}