<div class="btn centered btn-card-rectangular-big vol-btn" id="volMute" style="margin-right: 20px;">

  <div class="fa-solid fa-volume-high fa-3x" id="volMuteIcon"></div>

</div>

<div class="vol-controls-container">
  <div class="btn centered btn-card-rectangular-big vol-btn" id="volDown">
  
    <div class="fa-solid fa-chevron-down fa-2x"></div>
  
  </div>
  
  <div class="volume-label">TV Volume</div>
  
  <div class="btn centered btn-card-rectangular-big vol-btn" id="volUp">
  
    <div class="fa-solid fa-chevron-up fa-2x"></div>
  
  </div>
</div>