.expand
{
    animation: expandBtn 0.5s forwards;
}

.shrink
{
    animation: shrinkBtn 0.5s forwards;
}

.btn-card-rectangular-special
{
    height: 25%;
    margin-top: 5px;
    border: 1px solid var(--main-color);
}

.btn-card-wide-special
{
    height: 15%;
    width: 80%;
    margin-top: 5px;
    border: 1px solid var(--main-color);
}

.home-enter-anim
{
    animation: homeEnterAnim 1s forwards;
}

@keyframes expandBtn
{
    from {height: 10%;}
    to {height: 40%;}
}

@keyframes shrinkBtn
{
    from {height: 40%;}
    to {height: 10%;}
}

@keyframes homeEnterAnim
{
    from {background-color: var(--main-color);}
    to {background-color: white;}
}