*
{
    margin: 0;
}

:root
{
    --main-color-R: 10;
    --main-color-G: 34;
    --main-color-B: 72;
    --main-color: rgb(var(--main-color-R), var(--main-color-G), var(--main-color-B));
}

body
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    
    /* For TSW-570
    max-width: 640px;
    max-height: 360px;  */   

    /* For TSW-770  */
    max-width: 1280px;
    max-height: 800px;

    background-color: white;
}

.project-top
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;

    /* For TSW-570
    height: 40px; */
    
    /* For TSW-770  */
    height: 100px;
}

.project-body
{
    width: 100%;

    /* For TSW-570
    height: 560px; */
    
    /* For TSW-770 */
    height: 600px;
}

.project-bottom
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    /* For TSW-570
    height: 40px; */
    
    /* For TSW-770 */
    height: 100px;
}